/* ----- Reset ----- */
* {padding:0; margin:0;}
.navburger-toggle {display: none;}


/* ----- Body ----- */
body {font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 95%; color: #42413D; line-height: 1.7em; font-weight: 300; height:100%; background: #fff;}


/* ----- Global structure ----- */
.container {width: 100%; padding:0; margin: 0; background: #fff; position: relative; right:0; z-index: 200;}
.content {}
.fixed {position:fixed; top:0;}

/* ----- Header ----- */
header {max-width:1155px; margin:0 auto; padding: 20px 30px 10px 30px;}
section {max-width:1155px; margin:0 auto; padding: 0 30px;} /*Original changed from 0 30px*/
img.icon-social {width: 20px; cursor: pointer; vertical-align: middle;}

/* ----- Nav Normal ----- */
.nav {text-transform: uppercase; font-size: 0.8em;}
.nav ul.navlinks {float: right; line-height: 24px;}
.nav ul.navlinks li {list-style: none; display: inline; float: left; margin: 0 0 0 20px;}
.nav ul.navlinks li.social {line-height: 20px;}
.nav ul.navlinks li:last-child {margin: 0 0 0 20px;}

.nav ul li {list-style: none; display: inline; float: left; margin: 0;}
.nav ul li a, .nav ul li a:visited {font-family: 'Roboto', sans-serif; display: block; text-decoration: none; color: #42413D; font-weight: normal;}
.nav ul li a:hover, .nav ul li a.active {font-style: bold; color: #333;}

/* ----- Nav Hamburger ----- */
.navburger-toggle {line-height:41px; float:right;}
.navburger-toggle li {list-style:none;}
img.burgernav {width: 25px; cursor: pointer; position: relative;}

.navburger-content {position:absolute; z-index: 1; top:38px; right:0; height:100%; background: #42413D; width:200px;}

.navburger-links {}
.nav-title {text-transform: uppercase; color: #fff; font-size: 1em; font-weight: bold; padding-bottom: 20px;}
.navburger-links li {list-style:none; display: block; float:none; margin-left:0px; margin-bottom:8px; text-align: center;}
.navburger-links li a, .navburger-links li a:visited {text-transform: uppercase; display: block; text-decoration: none; color: #FEF0AA; font-weight: bold;}
.navburger-links li a:hover, .navburger-links li a.active {color: #FEF0AA;}

.movecontainer {right: 200px;}

.homeImage {
  height: 680px;
}

/* ----- Typography ----- */
h1 {font-family: 'Quicksand', sans-serif; font-weight: 300;}
h2 {font-weight: 300; font-size: 1.7em; text-align: center; margin: 4% 0 4% 0;}
h3 {font-weight: 400; font-size: 1.4em; margin: 0 0 4% 0;}
h4 {font-family: 'Roboto', sans-serif; font-weight: 200; color: #555; font-size: 1.3em; line-height: 1.6em; text-align: center; margin: 0;}
h5 {font-weight: bold; font-size: 1.3em; margin:0; text-transform: uppercase; text-align: center;}
h5.heading {font-weight: 300; font-size: 1.3em; margin:15px 0 7px 0; text-transform: uppercase;}
p {font-weight: 300;}
p, ul, li {color: #888; text-align: center;}
p.margin-top {margin-top: 15px;}

/* ----- Links ----- */
a {outline: none; outline:0; text-decoration: none;}

/* ----- Content ----- */
img {max-width:100%; max-height:100%; border:0;}
img.profile {margin-bottom: 1.25em; max-width: 300px;}
.icon img {width:50px; margin-right: 20px;}
ul, li {list-style: none;}
li {padding-bottom: 10px;}
ul.with-bullets {padding: 15px 0;}
ul.with-bullets li {list-style: disc; padding-left: 15px; list-style-position: inside;}

.centered {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}


/* ----- Buttons ----- */
a.button {
  background: #FEF0AA;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  color: #42413D;
  padding: 8px 20px;
  display: block;
}

button {
  background: none;
  outline: 0;
  border: 0;
  outline: none;
  display: block;
  margin: 40px auto;
}

.projnav-left {background-image: url('images/arrow-projnav-left.png')!important; background-color: #fff!important; border:1px solid #ddd!important; color:#42413D!important; background-repeat: no-repeat!important; padding: 8px 20px 8px 30px!important; background-position: 15%!important; background-size: 8px!important;}
.projnav-right {background-image: url('images/arrow-projnav-right.png')!important; background-color: #fff!important; border:1px solid #ddd!important; color:#42413D!important; background-repeat: no-repeat!important; padding: 8px 30px 8px 20px!important; background-position: 85%!important; background-size: 8px!important;}
.black {background-color:#222!important;}

/* ----- Footer ----- */
footer {background: #fff; margin:60px auto 0 auto; padding: 20px;}

/* ----- Footer nav ----- */
.footer-content {max-width: 1155px; margin: 0 auto; color:#42413D; font-size: 0.9em;}
.footer-content .col {margin:0 1%;}
.footer-content a, .footer-content a:visited {color:#42413D;}
.footer-content a:hover {color:#FEF0AA;}
.footer-alignright {text-align: right;}


/* ----- Slider ----- */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.prev {float:left; text-align: right; background: url('images/arrow-left.png') no-repeat left; width:30px; height:30px; opacity:0.5;}
.next {float:right; text-align: left; background: url('images/arrow-right.png') no-repeat right; width:30px; height:30px; opacity:0.5;}
.prev:after, .next:after {clear:both;}
.prev{
  top:45%;
  left:2%;
  position: absolute;
  z-index: 9999;
}
.next {
  top:45%;
  right:2%;
  position: absolute;
  z-index: 9999;
}

a:hover.prev, a:hover.next {opacity:1;}

.rslides1_tabs {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.rslides1_tabs li{
  display: inline;
  float: left;
}

.rslides1_tabs li a {}

/* ----- Raccoon Grid ----- */

.raccoonGrid {
  clear: both;
/*  padding: 0px;*/
/*  margin: 0px;*/
}

.col {
  display: block;
  position: relative;
  float:left;
  margin: 1.5% 1% 4% 1%;
}

.black-overlay {
  background-color: rgba(0, 0, 0, 0.3); /*  Change this 0.3 to something else for opacity. 0.1 is very light black and 1 is full black */
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  position: relative;
  background-size: cover;
  -moz-background-size: cover;
}

.fullimage {
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
/*  background-attachment: fixed; -- Use this if you want the image to scale down when the browser gets smaller */
  background-position: 50% 50%;
  position: relative;
}

.fullimage-textblock {
  position: absolute;
  top: 50%;
  left:20px;
  right:20px;
  resize:vertical;
  overflow: auto;
  transform: translateY(-50%);
}

.fullimage h1, .fullimage h2 {
  color: #f2f2f2;
}

 .fullimage h3, .fullimage h4, .fullimage h5 {
  color: #bbb;
 }

.no-bottom-margin {margin-bottom: 0!important;}
.no-top-margin {margin-top: 0!important;}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.width-12 {
  width: 98%;
}

.short {width: 75%; margin:40px auto 20px auto; float: none;}
.full-width {width: 100%; margin:40px auto 20px auto; float: none;}

.width-11 {
    width: 89.7%;
}
.width-10 {
    width: 81.06%;
}

.width-9 {
    width: 73%;
}

.width-8 {
    width: 64.66%;
}

.width-7nav {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
float: right;
}

.width-7 {
    width: 56.5%;
}

.width-6 {
    width: 48%;
}

.width-5nav {
    width: 39%;
    margin-top: 0;
    margin-bottom: 0;
}

.width-5 {
    width: 39%;
}

.width-4 {
    width: 31.3%;
}

.width-3 {
    width: 31.3%; /*was 23%*/
}

.width-2 {
    width: 14.6%;
}

.width-1 {
    width: 6.3%;
}


/* -----------------------------------------------
   ------ Media queries from Small to Large ------
   ----------------------------------------------- */

/* ----- Mobile & Phablets in portrait----- */
@media only screen and (max-width: 415px) {
h3 {font-size:1.3em;}
h4 {font-size:1.1em;}
.short {margin: 30px auto 30px auto; width:100%;}
img.logo {max-width:180px; display: block;}
.navlinks {display: none;}
.navburger-toggle {display:block;}
header {clear:both; margin:0; padding: 30px 30px 10px 30px;} 
ul.with-bullets li {padding:0;}
.footer-content {text-align: center!important;}
.footer-alignright {text-align: center;}
.width-1, .width-2, .width-3, .width-4, .width-5, .width-6, .width-7, .width-8, .width-9, .width-10, .width-11, .width-12 {width: 100%;}
.width-2, .width-4, .width-9, .width-10, h3, li {width: 100%!important; text-align: center!important; margin-right: auto; margin-left: auto;}
.homeImage {height: 500px;}
iframe.marvel {width: 290px; margin-top: -150px;}
}

/* ----- Mobile & Phablets in landscape ----- */
@media only screen and (min-width: 416px) and (max-width: 767px) {
img.logo {max-width:200px; display: block;}
.navlinks {display: none;}
.navburger-toggle {display:block;}
header {clear:both; margin:0; padding: 30px 30px 10px 30px;} 
section {padding: 0 30px 0 30px;}
h3 {font-size:1.4em;}
h4 {font-size:1.2em;}
ul.with-bullets li {padding:0;}
.short {width:100%;}
.width-2, .width-3, .width-4, .width-9, .width-10, h3, li {width: 100%!important; text-align: center!important; margin-right: auto; margin-left: auto;}
.homeImage {height: 600px;}
}

/* ----- Tablets in both views ----- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
header {clear:both; margin:0; padding: 30px 0 0 0;}
.width-3, .width-9, h3 {width: 100%!important; text-align: center!important; margin-right: auto; margin-left: auto;}
.homeImage {height: 680px;}
}


